*{
    margin : 0;
    padding : 0;
    font-family: "Barlow", sans-serif;
}

#container{
    position: relative;
}

#modalInput{
    text-align: center;
    width : 350px;
    height : 140px;
    border : 1px solid grey;
    border-radius: 6px;
    margin : 20px auto;
    padding : 10px 0;
}
#input{
    margin : 5px;
}
.inputButton{
    border : none;
    width : 80px;
    background-color : #6060BE;
    color : #FFF;
    border-radius : 3px;
    padding : 5px;
    cursor: pointer;
}

#status{
    padding : 20px 0;
    font-size : 14px;
}
#button:hover{
    background-color : #353564;
}